{{template "base" .}}

{{define "title"}}Boards{{end}}


{{define "main"}}

    <section class="columns">
            <div class="column1">
                <h3>To do</h3>
                {{if .TasksList}}
                {{range .TasksList}}
                {{if eq .Status "to do"}}
                <div class="sticker">
                    <a href="/task?id={{.TaskID}}">{{.TaskName}}</a>
                    <p>Статус задачи: {{.Status}}</p>
                    <p class="task_priority">Приоритет: высокий</p>
                </div>
                {{end}}
                {{end}}
                {{end}}
            </div>
            <div class="column2">
                <h3>In progress</h3>
                {{if .TasksList}}
                {{range .TasksList}}
                {{if eq .Status "in progress"}}
                <div class="sticker">
                    <a href="/task?id={{.TaskID}}">{{.TaskName}}</a>
                    <p>Статус задачи: {{.Status}}</p>
                    <p class="task_priority">Приоритет: высокий</p>
                </div>
                {{end}}
                {{end}}
                {{end}}
            </div>
            <div class="column3">
                <h3>Done</h3>
                {{if .TasksList}}
                {{range .TasksList}}
                {{if eq .Status "done"}}
                <div class="sticker">
                    <a href="/task?id={{.TaskID}}">{{.TaskName}}</a>
                    <p>Статус задачи: {{.Status}}</p>
                    <p class="task_priority">Приоритет: высокий</p>
                </div>
                {{end}}
                {{end}}
                {{end}}
            </div>
    </section>
{{end}}
