{{template "base" .}}

{{define "title"}}Boards{{end}}


{{define "main"}}

<section class="loginSection">
    <div class="loginFormSection">
        <form id="loginForm" name="signUpForm" action="/signup" method="post" >
            <label for="username">Имя</label><br>
            <input type="text" id="username" name="username" required><br>

            <label for="FullName">полное имя</label><br>
            <input type="FullName" id="FullName" name="FullName" required><br>
            <label for="gender">Пол</label><br>
            <input type="gender" id="gender" name="gender" required><br>
            <label for="password">Пароль</label><br>
            <input type="password" id="password" name="password" required><br>
            <label for="password2">Повторите пароль</label><br>
            <input type="password" id="password2" name="password2" required><br>
            <br>
            <button class="buttonLittle" type="submit" name="submitBtn">Зарегистрироваться</button>
        </form>
        <!--div>
            {{if . }}
                {{.Message}}
            {{end}}
        </div-->
    </div>
</section>
{{end}}